<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 
    <bean id="connBeanFactory" class="com.tobexam.factory.ConnBeanFactory">
        <property name="fileName" value="oracle_conn.xml" />
    </bean>


    <bean id="getConnection" class="com.tobexam.dao.ConcreConnectionMaker">
        <property name="connBean">
            <bean factory-bean="connBeanFactory" factory-method="makeConnectionBean" />
        </property>
    </bean>
    -->

    <bean id="xmlParsing" class="com.tobexam.common.XMLParsingConfig">
        <property name="fileName" value="mysql_conn.xml" />
    </bean>

    <bean id="getConnection" class="com.tobexam.dao.ConcreConnectionMaker">
        <property name="connBean">
            <bean factory-bean="xmlParsing" factory-method="setConfig" />
        </property>
    </bean>

    <bean id="userDao" class="com.tobexam.dao.UserDao">
        <property name="connectionMaker" ref="getConnection" />
    </bean>
</beans>