<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    
    <bean id="xmlParsing" class="com.tobexam.common.XMLParsingConfig">
        <property name="fileName" value="mysql_conn.xml" />
    </bean>

    <bean id="connBean" class="com.tobexam.common.ConnectionBean"
        factory-bean="xmlParsing" factory-method="setConfig" />
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="#{connBean.getClassName()}" />
        <property name="url" value="#{connBean.getConnStr()}" />
        <property name="username" value="#{connBean.getUserName()}" />
        <property name="password" value="#{connBean.getUserPass()}" />
    </bean>

    <bean id="jdbcContext" class="com.tobexam.dao.JdbcContext">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="userDao" class="com.tobexam.dao.UserDaoJdbc_Template">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>